version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1-cli-browsers
    parallelism: 2
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          - v1-dependencies-
      - run: composer install -n --prefer-dist
      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}
      - run:
            name: Define Environment Variable at Runtime
            command: |
                echo 'API_KEY=${API_KEY}' >> $BASH_ENV
                source $BASH_ENV
      - run: composer run cs-check
      - run: composer run test
